.main section.page3 {
	background: SEAGREEN;
	padding: 0% 24%;
}

#impressionscontainer {
	padding: 5%;
}

#face, #gamearea, #clock_div {
	display: inline-block;
	float: left;
	margin-top: 7%;
}

.face_pic img {
	height: 128px;
	width: 128px;
}

/* ====================
 Clock
 ==================== */

#clock {
	position: relative;
	width: 120px;
	height: 120px;
	background: url(img/clockface.png);
	list-style: none;
	background-repeat: no-repeat;
}

#sec {
	position: absolute;
	width: 6px;
	height: 120px;
	top: 0px;
	left: 57px;
}

#sec {
	background: url(img/sechand.png);
	z-index: 3;
	background-repeat: no-repeat;
}

/* ====================
 Buttons
 ==================== */

#gamearea button {
	background: #FFF;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-left: 1px solid #E8E8E8;
	color: #1D1D1D;
	font-size: 14px;
	font-weight: 200px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	width: 103px;
	margin: 2px;
	outline: none;
	cursor: pointer;
}

#gamearea button:hover {
	background-color: #FFD640;
}