
/* ====================
   Impressions Page Elements
 ==================== */

#impressionscontainer {
	position: absolute;
	top: 6%;
	left: 7%;
	height: 600px;
}


#face {
	position: absolute;
	top: 20%;
	left: 2.1%;
}

#gamearea {
	position: absolute;
	top: 32%;
	left: 32%;
	height: 300px;
	width: 400px;
	
}

#clock_div {
	position: absolute;
	top: 8%;
	right: 17%;
    color: #8ee557;
	width: 150px;
	font-size: 2em;
}

.face_pic img {
	width: 70%;
}

#gamearea button {
	background: none;
	border: none;
	color: white;
	padding: 5%;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

#gamearea button:hover {
}