
/* ====================
   Impressions Page Elements
 ==================== */

#impressionscontainer {
	position: absolute;
	top: 30%;
	left: 29%;
}

#face, #gamearea, #clock_div {
	display: inline-block;
	float: left;
	margin-top: 7%;
}

.face_pic img {
	height: 128px;
	width: 128px;
}

#gamearea button {
	background: #FFF;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-left: 1px solid #E8E8E8;
	color: #1D1D1D;
	font-size: 14px;
	font-weight: 200px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	width: 103px;
	margin: 2px;
	outline: none;
	cursor: pointer;
}

#gamearea button:hover {
	background-color: #FFD640;
}