/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

.targetWord {
	font-size: 30px;
	letter-spacing: 2px;
	padding: 25px;
	color: #f4f4f4;
}

/* body visual element styles */

.wordCard {
	position: relative;
	float: left;
	border-color: #c35757;
	border-style: none;
	border-radius: 20px;
	box-shadow: 0px 2px 1px #b9b9b9;
	background-color: #ccc;
	padding: 30px 0px;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 85px;
	margin: 10px;
	background-image: none;
	cursor: pointer;
}

.pictureCard {
	position: relative;
	float: left;
	border-style: none;
	border-radius: 20px;
	box-shadow: 0px 2px 1px #b9b9b9;
	padding: none;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 85px;
	margin: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: pointer;
}

#scoreCard {
	min-height: 500px;
	width: 200px;
	float: right;
	padding: 60px;
	background-color: #77C2CC;
}

#score {
	width: 75px;
	height: 75px;
	font-size: 2em;
	color: ##213141;
	margin: 0 auto;
	border: 0px solid #999;
	line-height: 100px;
	text-align: center;
	float: right;
}

#time {
	width: 75px;
	height: 75px;
	font-size: 2em;
	color: ##213141;
	margin: 0 auto;
	border: 0px solid #999;
	line-height: 100px;
	text-align: center;
	float: right;
}

#gamearea1 {
	background-color: white;
	min-height: 500px;
	padding: 70px 50px;
	margin-right: 200px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

