/* ABOUT CSS STYLES */

.maincontainer {
	padding-top: 50px;
	padding-right: 22%;
	padding-left: 22%;
	background-color: #77C2CC;
}

.minicontainer, .minicontainerblk {
	height: 550px;
	overflow: hidden;
}

.minicontainer * {
	color: white;
}

.minicontainerblk * {
	color: #666966;
}

#mini1 {
	background-color: #EBBE47;
	padding: 50px;
}

.socialicons, #target {
	padding: 5%;
}

#mini2 {
	background-color: #FFFFFF;
	padding: 30px 50px;
	height: 680px;
}

#graphics {
	width: 95%;
	margin: 50px 5px;
	text-align: center;
}



#mini3 {
	background-color: #705686;
	padding: 30px 50px;
	height: 950px;
}

#convosim2 {
	padding-right: 11%;
	padding-left: 11%;
	width: 100%;
}


#mini4 {
	background-color: #34BA85;
	padding: 30px 50px;
	height: 1000px;
}

#comp {
	width: 60%;
}

#compdiv {
	text-align: center;
}

#phone {
	width: 25%;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#phonediv {
	text-align: center;
}

#mini5 {
	background-color: #EBBE47;
	padding: 30px 50px;
	height: 900px;
}

#meetus {
	background-color: none;
}

.meet {
	padding: 5%;
	padding-right: 15%;
	width: 90%;
}

#mini6 {
	background-color: #FFFFFF;
}

#mini7 {
	background-color: #705686;
}

#mini8 {
	background-color: #A69F95;
}

/* DEMOS CSS STYLES */

#animationdemos {
	min-height: 480px;
	padding-top: 10px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.activebox {
	background-color: #ADFF2F;
	text-align: center;
	display: inline-block;
	height: 180px;
	width: 180px;
	padding: 70px 20px;
	margin: 5px;
	font-size: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	list-style: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#flashcardwall {
	background-color: #eee;
	min-height: 480px;
	padding-top: 10px;
	padding-right: 15px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* FLASHCARDS ANIMATION */

.back {
	background-color: white;
}

.flip-container {
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
	display: inline-block;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.back {
	padding: 50px 30px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
}