/*  ======================
     Page Elements
 ====================== */

.wrapper {
	text-align: center;
	height: 100%;
}

.profile_cointainer {
	position: relative;
	margin-left: 0%;
	margin-top: 2%;
	margin-right: auto;
	left: 1.5%;
}

.main section.page1 {
}

.main section.page2 {
}

.main section.page3 {
}

.main section.page4 {
}

.main section.page5 {
}

.main section.page6 {
}

.main section.page7 {
	background: goldenrod;
}

.main section.page8 {
}

/*  ======================
  Navigation and Links
 ====================== */

nav {
	width: 250px;
	margin-left: 100px;
	padding-right: 10%;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding-right: 5%;
}

a {
	text-decoration: none;
	color: seashell;
}

a:hover {
	color: goldenrod;
}

/*  ===================
       Images
 ====================== */

 #nav_logo {
	position: absolute;
	top: 3%;
	left: 1%;
	cursor: pointer;
	z-index: 1;
}
 
 .profile_background {
	width: 93%;
	max-height: 93%;
 }
 
#profile_image {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 10%;
}

#speech_bubble {
	position: absolute;
	top: 20%;
	left: 35%;
	width: 18%;
}

#welcome_logo {
	position: absolute;
	top: 37%;
	left: 38%;
	width: 22%;
}

#large_logo {
	position: absolute;
	top: 4%;
	right: 5%;
	width: 65%;
}

#next_button {
	width: 55px;
	cursor: pointer;
	position: absolute;
	bottom: 2%;
	right: 48%;
	opacity: .8;
}

#next_button:hover {
	opacity: 1;
}