/*  ======================
         Core Page Elements
 ====================== */

#nav_logo {
	position: absolute;
	top: 3%;
	left: 2%;
	cursor: pointer;
	width: 12%;
	z-index: 1;
} 
.wrapper {
	text-align: center;
	height: 100%;
}

.profile_cointainer {
	position: relative;
	padding: 6% 0% 4% 4%;
}

.profile_background {
	width: 96%;
	max-height: 84%;
}

.startprompt {
	padding-top: 250px;
	height: 800px;
	width: 1200px;
}

.next_button {
	width: 65px;
	cursor: pointer;
	position: absolute;
	bottom: 8%;
	right: 47%;
	opacity: .8;
}

.next_button:hover {
	opacity: 1;
}

.main section.page1 {
}

.main section.page2 {
}

.main section.page3 {
}

.main section.page4 {
}

.main section.page5 {
}

.main section.page6 {
}

.main section.page7 {
}

.main section.page8 {
}

/*  ===================
    Welcome Page Elements
 ====================== */
  
#welcome_pic {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 12%;
}

#welcome_speech_bubble {
	position: absolute;
	top: 22%;
	left: 38%;
	width: 20%;
}

#welcome_logo {
	position: absolute;
	top: 38%;
	left: 37%;
	width: 27%;
}

/*  ===================
    Zach's Page Elements
 ====================== */

#zachs_pic {
	position: absolute;
	top: 26.5%;
	left: 10%;
	width: 12%;
}

#zachs_speech_bubble1 {
	position: absolute;
	top: 22%;
	left: 23%;
	width: 22%;
}

#zachs_speech_bubble2 {
	position: absolute;
	top: 40%;
	left: 23%;
	width: 20%;
}

#zachs_speech_bubble3 {
	position: absolute;
	bottom: 25%;
	left: 22%;
	width: 20%;
}

#zachs_instructions {
	position: absolute;
	top: 20%;
	right: 14%;
	width: 27%;
}

/*  ===================
   Elliott's Page Elements
 ====================== */

#elliotts_pic {
	position: absolute;
	top: 39%;
	right: 45%;
	width: 12%;
}

#elliotts_speech_bubble1 {
	position: absolute;
	top: 24%;
	right: 22%;
	width: 22%;
}

#elliotts_speech_bubble2 {
	position: absolute;
	top: 47%;
	right: 20%;
	width: 22%;
}

#elliotts_speech_bubble3 {
	position: absolute;
	bottom: 21%;
	right: 24%;
	width: 20%;
}

#elliotts_instructions {
	position: absolute;
	top: 17%;
	left: 14%;
	width: 27%;
}

/*  ===================
    Steven's Page Elements
 ====================== */

#stevens_pic {
	position: absolute;
	top: 23%;
	right: 15%;
	width: 12%;
}

#stevens_speech_bubble1 {
	position: absolute;
	top: 22%;
	right: 29%;
	width: 22%;
}

#stevens_speech_bubble2 {
	position: absolute;
	top: 43%;
	right: 28%;
	width: 20%;
}

#stevens_speech_bubble3 {
	position: absolute;
	bottom: 23%;
	right: 14.5%;
	width: 17%;
}

#stevens_instructions {
	position: absolute;
	top: 17.5%;
	left: 14%;
	width: 27%;
}

/*  ======================
  Navigation and Links: Not in use now
 ====================== 

nav {
	width: 250px;
	margin-left: 100px;
	padding-right: 10%;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding-right: 5%;
}

a {
	text-decoration: none;
	color: seashell;
}

a:hover {
	color: goldenrod;
}

 ====================== */