/*  ======================
  Navigation and Links
 ====================== */

nav {
	width: 250px;
	margin-left: 100px;
	padding-right: 10%;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding-right: 5%;
}

a {
	text-decoration: none;
	color: seashell;
}

a:hover {
	color: goldenrod;
}





/*  ===================
       Images
 ====================== */

.nav_logo {
	position: absolute;
	top: 8px;
	left: 55px;
	max-width: 75px;
	cursor: pointer;
	z-index: 1;
}

.elliott_image {
	position: absolute;
	top: 60px;
	left: 50px;
}

.speech_bubble {
	position: absolute;
	top: 50px;
	left: 185px;
}

.welcome_logo {
	position: absolute;
	top: 140px;
	left: 180px;
}

.large_logo {
	position: absolute;
	top: 4%;
	right: 5%;
	width: 65%;
}

.next_button {
	width: 55px;
	cursor: pointer;
	position: absolute;
	bottom: 8%;
	right: 48%;
	opacity: .5;
}

.next_button:hover {
	opacity: 1;
}

/*  ======================
     Page Elements
 ====================== */

header {
	background: #6699FF;
	position: relative;
	padding: 10px;
	z-index: 1;
}

.wrapper {
	text-align: center;
	height: 90%;
}

.custom_panel_1 {
	background: #DDE9EF;
	border-top-right-radius: 60px;
	height: 550px;
}

.main section.page1 {
	background: white;
	padding: 15px;
}

.main section.page2 {
	background: hotpink;
}

.main section.page3 {
	background: dodgerblue;
}