
/* ====================
    Robot Page Elements
 ==================== */

#robotcontainer {
	height: 400px;
	padding: 20px;
	position: absolute;
	z-index: 1;
	top: 45%;
	left: 45%;
}

#toolsdiv {
	width: 120px;
	position: absolute;
	top: 35%;
	left: 32%;
}

#robotdiv {
	width: 195px;
	position: absolute;
	top: 50%;
	left: 43.5%;
}

#clockdiv {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 35%;
	right: 29%;
}

#tools td {
	padding: 0;
	margin: 0;
	font-size: 29px;
	cursor: pointer;
}

#robot td {
	padding: 0;
	margin: 0;
	font-size: 29px;
	cursor: pointer;
}

#dialog {
	display: none;
}