/* ====================
       Core Page Elements
 ==================== */

#robotcontainer {
	height: 400px;
	padding: 20px;
	position: relative;
}

#toolsdiv {
	width: 120px;
	position: absolute;
	top: 35%;
	left: 32%;
}

#robotdiv {
	width: 195px;
	position: absolute;
	top: 50%;
	left: 43.5%;
}

#clockdiv {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 35%;
	right: 29%;
}

#tools td {
	padding: 0;
	margin: 0;
	font-size: 29px;
	cursor: pointer;
}

#robot td {
	padding: 0;
	margin: 0;
	font-size: 29px;
	cursor: pointer;
}

#dialog {
	display: none;
}

/* ====================
 Clock
 ==================== */

#clock {
	width: 120px;/*600*/
	height: 120px;/*600*/
	background: url(images/clockface.png);
	list-style: none;
	background-repeat: no-repeat;
}

#sec {
	position: absolute;
	width: 6px;/*30*/
	height: 120px;/*600*/
	top: 0px;
	left: 57px;/*285*/
}

#sec {
	background: url(images/sechand.png);
	z-index: 3;
	background-repeat: no-repeat;
}