
/* ====================
    Robot Page Elements
 ==================== */

#robotcontainer {
	position: absolute;
	top: 11%;
	left: 7%;
	height: 80%;
	width: 90%;
}

#toolsdiv {
	position: absolute;
	top: 15.7%;
	left: 22.7%;
}

#robotdiv {
	width: 200px;
	position: absolute;
}

#tools td, 
#robot td {
	cursor: pointer;
}

#clock_div {
	position: absolute;
	top: 3%;
	right: 1.5%;
}

#dialog {
	display: none;
}

#robot img {
	display:block;
}
