#footer {
	text-align: center;
}


body {
	font-weight:200;
	letter-spacing: 1px;
	margin: 0 auto;
	width: 100%;
	clear: both;
}

#flashcardwall {
	min-height: 480px;
	padding-top: 10px;
	text-align: center;
}

/* FLASHCARDS ANIMATION */

.back {
	background-color: white;
}

.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
	display: inline-block;
	    -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
}

.back {
	padding: 50px 30px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
}